# Python
**/__pycache__/
*.py[cod]
*.egg-info/
.eggs/

checkpoints/
**/*.pth
**/*.ckpt

**/data/*.h5
*.h5
*.tar.gz

wandb/
runs/
prediction_cache/
*.log

**/.ipynb_checkpoints/

# TensorFlow saved models
tf_encoder_model/
tf_noise_sig_model/

# Temporary configs
temp_configs/

# Plots (generated)
plots/
**/*.png

# IDE
.idea/
.vscode/
*.swp
